.hierarchical-terms-form label:first-child{
	margin-top: 0;
}

.wsu-custom-term-selector__hierarchical-terms-submit{
	margin-top: 24px !important;
}

.wsu-custom-term-selector__tree-select .components-input-control__label{
	display: inline-block !important;
    margin-top: 12px !important;
}

.wsu-custom-term-selector__tree-select .components-input-control__container{
	margin-top: 8px;
}
